<div *ngIf="schadenKlasse">
  <div class="ui divider"></div>
  <div class="ui grid">
    <div class="four wide column">
      <h4>Schadennummer</h4>
      <span *ngFor="let eintrag of schadenKlasse">
        {{eintrag.sdnr}}
      </span>
      <Br>
    </div>
    <div class="four wide column">
      <h4>Schaden-Typ</h4>
      <span *ngFor="let eintrag of schadenKlasse">
        {{eintrag.sdTyp}}
      </span>
      <Br>
    </div>
    <div class="four wide column">
      <h4>Schaden-Ursache</h4>
      <span *ngFor="let eintrag of schadenKlasse">
        {{eintrag.sdUrsache}}
      </span>
      <Br>
    </div>
    <div class="four wide column">
      <h4>Sparte</h4>
      <span *ngFor="let eintrag of schadenKlasse">
        {{eintrag.sparte}}
      </span>
    </div>

    <div *ngIf="schadenKlasse; else loading">
    <button class="ui tiny red labeled icon button" (click)="removeSchaden()">
      <i class="remove icon"></i> Schaden löschen
    </button>
    <a class="ui tiny yellow labeled icon button"
    [routerLink]="['../../schaden/edit', schadenKlasse.sdnr]">
    <i class="write icon"></i> Schaden bearbeiten
    </a>
  </div>

  <ng-template #loading>
    <div class="ui actice centered inline loader"></div>
  </ng-template>
</div>
